.popup{
    position: fixed;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    height: 300px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.popupText{
    color: white;
    font-size: 30px;
}
.popupButton{
    width: 30%;
    margin-top: 40%;
    margin-bottom: 10%;
    background-color: rgb(34, 188, 235) !important;
}
