<template>
    <div class="popup">
        <div class="popupText" >{{msg}}</div>
        <v-btn v-on:click="busEmmit" class="popupButton">OK</v-btn>
    </div>
</template>

<script>
import {bus} from "../../main.js"

export default{ 
    name : "popup",
    props: ["msg"],
    methods: {
        busEmmit(){
            bus.$emit('close')
        }
    }
    }
</script>

<style scoped src="./popup.css"></style>
