<template>
    <v-form class="form">
        <h1>ENVOI DE SMS</h1>
        <v-text-field
            label="Numero de téléphone"
            :rules="rules"
            v-model="payload.recipients[0].phone_number"
            class="input"
        ></v-text-field>
        <v-text-field 
            label="Message"
            v-model="payload.text"
            class="input inputText"
        ></v-text-field>
        <v-btn @click="sendSms" elevation="2" class="button">Envoyer</v-btn>
        <popup msg="Le SMS a été envoyé" v-if="isDiplay"></popup>
    </v-form>
</template>

<script>
import popup from ".././popup/popup.vue"
import {bus} from "../../main.js"

export default{
    name: "formulaire",
    components: {
        popup
    },
    mounted() {
        bus.$on("close", function(){
            this.isDiplay = 0;
        })
    },
    data() {
        return{
            isDiplay : 0 ,
            rules: [
                value => !!value || 'Required.',
                value => (value || '').length == 10 || 'Numero invalide',
                value => {
                    const pattern = /^[0-9]*$/ 
                    return pattern.test(value) || 'Numéro invalide'
                },
            ],
            payload: {
                recipients: [ 
                {
                    phone_number : "",
                    first_name : "Theo",
                    last_name : "Ragot"
                }
                ],
                text : "",
                type : "sms_premium",
                purpose : "wholesale",
                sender : "Entreprise X"
            }
        }
    },
    methods: {
        sendSms: function(){
            this.isDiplay = 1;
            var headers = new Headers();
            headers.append('Content-Type', 'application/json');
            headers.append('api-key', 'MbPKIdx7P5lgoA09HeYkyFuUoVJS4leY');
            headers.append('api-login', 'delivagri@gmail.com');
            headers.append('cache-control', 'no-cache');
            headers.append('Access-Control-Allow-Origin', '*');
            var data = new FormData();
            data.append("data", JSON.stringify( this.payload ))
            var init = { method: 'POST',
                    headers: headers,
                    mode: 'cors',
                    cache: 'default',
                    body: data 
                    };
            fetch('https://www.octopush-dm.com/api/sms',init)
            .then(res => res.json())
            .then(data => { 
                console.log(data)
            })
        }
    },
}
</script>

<style scoped src="./formulaire.css"></style>