<template>
 <div>
   <formulaire></formulaire>
   
 </div>
</template>

<script>
import formulaire from './components/formulaire/formulaire.vue'

export default {
  name: 'App',
  components: {
    formulaire
  }
};
</script>
